.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/docs/dist/
/docs/dist/static/
/docs/dist/static/css/
/docs/dist/static/js/
/docs/dist/index.html
