//图标
@import "varibles";
@font-face {
  font-family: 'iconfont';  /* project id 2110570 */
  src: url('//at.alicdn.com/t/font_2110570_vtrzivvp18.eot');
  src: url('//at.alicdn.com/t/font_2110570_vtrzivvp18.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2110570_vtrzivvp18.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2110570_vtrzivvp18.woff') format('woff'),
  url('//at.alicdn.com/t/font_2110570_vtrzivvp18.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2110570_vtrzivvp18.svg#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="xmo-icon-"], [class*="xmo-icon-"] {
  font-family: "iconfont", serif !important;
  font-size: $font-size-base;
  font-style: normal;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  margin: 0 5px;
}

.xmo-icon-search:before { content: "\e63e"}

.xmo-icon-loading {animation: spin 1250ms linear infinite;}
.xmo-icon-loading:before {content: "\e651"}